* {
    background-color: rgb(212, 215, 226);
    /* background-color: rgb(99, 128, 233); */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display-header img {
    max-width: 140px !important;
    margin-bottom: 1rem;
    /* height: 50px; */
}

.wrapper {
    text-align: center;
    /* padding-top: 2rem; */
    height: 96vh;
    display: flex;
    /* max-width: 100vw; */
    /* overflow: hidden; */
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    height: 4vh;
    text-align: center;
    color: #2778ae;
    font-size: .7rem;
}



.mid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}


.display-header {
    padding-top: 2rem;
}

.svg-top-left {
    position: relative;
    align-items: right;
}

.svg-top-right {
    position: relative;
    align-items: right;
}

#svg-middle {
    max-width: 10vw;
    opacity: 40%;
}

#svg-left-top {
    position: absolute;
    /* max-width: 25%; */
    bottom: 0;
    right: .5rem;
    height: 90%;
}

#svg-right-top {
    position: absolute;
    /* max-width: 25%; */
    bottom: 0;
    left: .5rem;
    height: 90%;
}



h1 {
    text-align: center;
    color: #2F97DA;
}

#harFileInput {
    display: none;
}

.custom-file-upload {
    color: #2F97DA;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 2px solid #2F97DA;
    ;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #2F97DA;
    color: White;
}

#selected-file {
    margin-top: .5rem;
    color: #2F97DA;
    font-size: .7rem;
}

/* #logo {
    margin-left: 1.5rem;
} */

#redirectModal {
    display: none;
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
}

#redirectBoxContainer {
    /* display: none; */
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

#redirectBoxWrapper {
    /* background-color: red; */
    padding: 1rem;
    display: flex;
    max-width: 800px;
    /* left: 50%; */
    flex-direction: column;
    max-height: 50vh;
    min-height: 400px;
    min-width: 35vw;
    /* background-color: #2F97DA; */
    overflow: hidden;
}

.reduced-height {
    min-height: 0 !important;
    /* background-color: rgb(211, 29, 29); */
}

#redirectBox {
    overflow: scroll;
    /* background-color: #477d20; */
    /* min-height: 45vh; */
    padding: 1rem;
    font-size: .7rem !important;
    /* overflow: scroll; */
}

.redirectHeader {
    display: grid;
    grid-template-columns: 95% 5%;
}

.redirectHeader span {
    /* background-color: #2F97DA; */
    height: 100%;
    /* align-self: center; */
}

.redirect-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.redirect-footer {
    padding: 1rem, 5rem;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* padding-top: 100px; */
    top: 0;
    left: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-bg {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
    max-height: 80vh;
    /* background-color: #6EC72E; */
    padding: .4rem;
}

#uniqueUrlsBox {
    display: flex;
    flex-direction: column;
    width: 80vh;

}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

/* Modal Content */

/* The Close Button */
.close,
#closeRedirectBox {
    color: #aaaaaa;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-end;
}

.close:hover,
#closeRedirectBox:hover,
#closeRedirectBox:focus,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-textarea {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* padding: 20px; */
    min-width: 50%;
    font-size: 1rem;
}

.modal-textarea h4 {
    color: #2F97DA;
}

#uniqueUrls {
    width: 100%;
    min-height: 200px;
    max-height: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    /* background-color: #e4e4e4; */
    font-size: .7rem;
    outline: none;
}



.display-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#redirect-comment {
    color: #2778ae;
}

#btn-unique-url,
#btn-show-table,
#btn-unique-domain {
    border: none;
    text-decoration: none;
    font-size: .8rem;
}


#btn-unique-domain,
#copyRedirectedDomain {
    padding: .5rem;
    margin-top: 1.5rem;
    border: none;
    text-decoration: none;
    font-size: .8rem;
    background-color: #6EC72E;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btn-unique-domain:hover,
#copyRedirectedDomain:hover {
    background-color: #5ba12a;
}

#btn-redirect {
    padding: .5rem;
    margin-top: 1.5rem;
    border: none;
    text-decoration: none;
    font-size: .8rem;
    background-color: #2F97DA;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btn-redirect:hover {
    background-color: #2778ae;
}

/* .btn-unique-domain-bg:hover {
    background-color: #3f820f;
} */

#btn-unique-url:hover,
#btn-show-table:hover {
    cursor: pointer;
    color: #2F97DA;
}

.display-data {
    display: flex;
    width: 100%;
    justify-content: center;
    /* flex-direction: column; */
    margin-top: 1rem;
    text-align: center;
    align-items: center;
    gap: .5rem;
}

#domain-header {
    margin-bottom: .5rem;
    margin-left: .2rem;
    align-self: flex-start;
    color: #2F97DA;
    font-size: .7rem;
}

/* Scrollbar Unique Domain */
#uniqueUrls::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#uniqueUrls::-webkit-scrollbar-thumb {
    background-color: #2F97DA;
}

#uniqueUrls::-webkit-scrollbar-corner {
    background-color: #2F97DA;
}



/* Scrollbar dataTable */

.display-table::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.display-table::-webkit-scrollbar:horizontal {
    /* width: 4px; */
    height: 8px;
    width: 10px !important;
}

/* .display-table::-webkit-sc */

.display-table::-webkit-scrollbar-thumb {
    background-color: #2F97DA;
}

.display-table::-webkit-scrollbar-corner {
    background-color: #2F97DA;
}


#redirectBox::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

#redirectBox::-webkit-scrollbar-thumb {
    background-color: #2F97DA;
}

#redirectBox::-webkit-scrollbar-corner {
    background-color: #2F97DA;
}


#btn-copy-url {
    border-style: none;
    cursor: pointer;
    padding: .3rem .7rem .3rem .5rem;
    font-size: .8rem;
    align-self: flex-start;
    background-color: #2F97DA;
    color: white;
}

#btn-unique-domain {
    cursor: pointer;
}

#btn-copy-url:hover {
    background-color: #6EC72E;
    color: white;
}

.display-table {
    padding: 1rem;
}

/* datatables Dragable*/

/* Target grips only within table header cells (th) */


/* Hide the sorting indicator element */
#redirect-table thead .sorting::after,
#myTable.dataTable thead .sorting::after,
#redirect-table thead .sorting_asc::after,
#myTable.dataTable thead .sorting_asc::after,
#redirect-table thead .sorting_desc::after,
#myTable.dataTable thead .sorting_desc::after,
#redirect-table thead .sorting::before,
#myTable.dataTable thead .sorting::before,
/* Add ::before as well */
#myTable.dataTable thead .sorting_asc::before,
#redirect-table.dataTable thead .sorting_asc::before,
#redirect-table.dataTable thead .sorting_desc::before,
#myTable.dataTable thead .sorting_desc::before {
    content: "" !important;
    visibility: hidden !important;
    display: none !important;
}

#myTable.dataTable thead th.sorting,
#redirect-table.dataTable thead th.sorting,
#myTable.dataTable thead th.sorting_asc,
#redirect-table.dataTable thead th.sorting_asc,
#myTable.dataTable thead th.sorting_desc,
#redirect-table.dataTable thead th.sorting_desc {
    padding-right: 10px !important;
    /* Adjust as needed */
}

.display-table {
    width: 80vw !important;
    max-width: 80vw;
    overflow: scroll;
    max-height: 70vh;
    font-size: .7rem !important;
}

.grip .dragging {
    text-align: left;
}

/* #myTable.dataTable {
    font-size: .7rem;
} */


/* SVG animation */

#svg-left {
    position: absolute;
    margin-left: 2rem;
    z-index: 12;
    bottom: 0;
    left: 0;
    height: 90%;
    background-color: unset;
    opacity: 50%;
}

#svg-right {
    position: absolute;
    z-index: 21 !important;
    bottom: 0;
    right: 0;
    margin-right: 3rem;
    height: 90%;
    background-color: unset;
    opacity: 50%;
}



#blade {
    animation: blades 3s infinite linear;
    transform-origin: 97px 114px;
    transform-box: border-box;
}

@keyframes blades {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg)
    }
}


.style-redirect-header {
    font-size: .7rem !important;
    color: #477d20;
}

/* #myTable, */
#redirect-table .wrap-text-column {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    /* This is the magic line */
}

@media only screen and (max-width: 1000px) {
    #svg-middle {
        max-width: 32vw;
        opacity: 40%;
    }

    #svg-left,
    #svg-right {
        height: 80%;
    }
}

@media only screen and (max-width: 1800px) {
    #svg-middle {
        max-width: 12vw;
        opacity: 40%;
    }
}

@media only screen and (max-width: 1700px) {
    #svg-middle {
        max-width: 10vw;
        opacity: 40%;
    }
}


@media only screen and (max-height: 700px) {
    #svg-middle {
        /* max-width: 2000px; */
        opacity: 40%;
    }
}



@media only screen and (max-width: 768px) {

    #svg-left,
    #svg-right {
        display: none;
    }

    #redirectBoxWrapper {
        max-width: 80vw;
    }

    .wrapper {
        max-width: 100%;
        /* background-color: #6EC72E; */

    }

    #logo {
        width: 130px;
    }

    #svg-middle {
        max-width: 40vw;
        opacity: 40%;
    }
}

@media only screen and (max-width: 600px) {

    #svg-middle {
        max-width: 40vw;
        opacity: 40%;
    }

    .display-header h1 {
        font-size: 1.2rem !important;
    }

    .custom-file-upload {
        margin-top: 1rem !important;
    }

    #logo {
        max-width: 100px !important;
    }

    #svg-top-left,
    #svg-top-right {
        display: none;
    }

    .header-container {
        display: grid;
        grid-template-columns: 1fr;
    }



    .display-header img {
        max-width: 150px;
    }

    .mid-container {
        max-width: 100vw;
    }

    .custom-file-upload {
        color: #2F97DA;
        /* display: inline-block; */
        margin-top: 2rem;
        padding: .2rem;
        border: 2px solid #2F97DA;
        cursor: pointer;
    }

    .redirectHeader {
        display: grid;
        grid-template-columns: 90% 10%;
        min-height: 50px;
        font-size: .7rem;
    }

    .redirect-footer {
        /* margin-top: .4rem; */
        padding-top: .3rem;
        margin: 0;
        min-height: 40px;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
    }

    #copyRedirectedDomain {
        margin: 0;
    }

    * {
        /* overflow: hidden; */
        overflow-x: hidden;
    }

}

@media only screen and (max-width: 400px) {
    .redirectHeader {
        display: grid;
        grid-template-columns: 80% 20%;
        min-height: 50px;
        font-size: .7rem;
    }

    .display-header h1 {
        font-size: 1rem !important;
    }

    #copyRedirectedDomain {
        margin: 0;
        padding: .3rem 1rem;
        font-size: .7rem;
    }

    #logo {
        max-width: 80px !important;

    }

    #svg-middle {
        max-width: 40vw;
        /* max-width: 80vw; */
        opacity: 40%;
    }
}
